@media (min-width: 1000px) {
  .modal-dialog {
    max-width: 90% !important;
  }

  .logo {
    width: 130px !important;
    height: 130px !important;
  }
}
@media only screen and (min-width: 1650px) {
  .page-link-txt {
    left: 187px;
  }
}
@media only screen and (max-width: 1750px) {
  .blog-div-div::after {
    left: 387px;
  }

  .menu {
    margin-right: 50px;
  }
  .menu li a:first-child {
    margin-left: 0px;
  }
}
@media only screen and (max-width: 1240px) {
  .page-link-txt::after {
    left: 300px;
    bottom: 90px;
  }

  .blog-div-div::after {
    left: 387px;
  }

  .blog-div-div::after {
    left: 220px;
    bottom: 39px;
  }

  .hamburger {
    left: 14px;
    top: 11px;
    width: 30px;
    display: block !important;
  }

  .menu {
    display: none;
  }
}
@media only screen and (max-width: 1160px) {
  .proyectos-title {
    padding-top: 120px;
  }

  .proyectos-text {
    padding-left: 120px;
    padding-top: 15px;
    padding-right: 150px;
  }

  .proyectos-ir {
    padding-left: 120px;
  }

  .hero-text {
    padding-top: 319px;
  }

  .menu {
    margin-right: 15px;
  }
}
@media only screen and (max-width: 1015px) {
  .proyectos-title {
    padding-top: 92px;
  }

  .proyectos-text {
    padding-left: 76px;
  }

  .proyectos-ir {
    padding-left: 76px;
  }

  .page-link-txt::after {
    left: 234px;
  }

  .blog-div-div::after {
    left: 178px;
  }

  .hero-text {
    width: 80%;
    padding-left: 0px;
    margin: 0px auto;
  }

  .servicios-title {
    width: 60%;
  }

  .fondo-oscuro {
    width: 100% !important;
    top: 46% !important;
  }
}
@media only screen and (max-width: 925px) {
  .page-link-img-inner {
    width: 300px;
  }

  .page-link-img {
    right: 202px;
  }

  .page-link-txt div h3 {
    padding-left: 0px;
  }

  .page-link-txt div p {
    padding-left: 0px;
  }

  .page-link-txt::after {
    left: 165px;
  }

  .page-links {
    width: 97%;
  }

  .blog-div-div::after {
    left: 93px;
  }

  .proyectos-text {
    padding-right: 30px;
  }

  .hero-button {
    width: 51%;
  }

  .header {
    height: 100%;
  }
  .header .header-nav .flex-nav {
    width: 100%;
  }

  .fondo-oscuro {
    width: 100% !important;
    top: 30% !important;
  }
}
@media only screen and (max-width: 775px) {
  .proyectos-title {
    padding-top: 59px;
    padding-left: 44px;
  }

  .proyectos-text {
    padding-left: 44px;
  }

  .proyectos-ir {
    padding-left: 44px;
  }

  .social-contacto .social-contacto2 .social-contacto2-divs {
    width: 100%;
  }

  .social-contacto .social-contacto1 .social-contacto1-divs {
    width: 100%;
  }

  .page-link-img-inner {
    width: 250px;
  }

  .form-control {
    width: 100% !important;
  }

  .label-responsive {
    width: 100% !important;
  }

  .footer {
    height: 1000px;
  }
}
@media only screen and (max-width: 675px) {
  .page-link {
    margin-left: 30px;
  }

  .servicios-title {
    font-size: 1.7em;
  }

  .hero-title-responsive {
    font-size: calc(1.2rem + .6vw) !important;
  }

  .hero-text-responsive {
    font-size: calc(1rem + .6vw) !important;
  }

  .fondo-oscuro {
    width: 100% !important;
    top: 25% !important;
  }
}
@media only screen and (max-width: 610px) {
  .page-link {
    margin-left: 0px;
  }

  .page-link-img-inner {
    width: 250px;
  }

  .page-link-img {
    right: 205px;
  }

  .page-link-txt div {
    width: 250px;
  }

  .proyectos {
    flex-flow: column;
  }

  .proyectos-img {
    width: 100%;
  }

  .proyectos-div {
    width: 100%;
    background-color: #353B3C;
    height: 450px;
    text-align: center;
  }

  .arrow {
    display: none;
  }

  .proyectos-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .proyectos-title {
    padding-left: 27px;
    margin-bottom: 25px;
  }

  .proyectos-text {
    padding-top: 47px;
  }

  .proyectos-ir {
    padding-left: 0px;
  }

  .servicios-title {
    width: 70%;
    padding-left: 30px;
  }

  .modal-dialog {
    max-width: 798px !important;
  }

  .d-none-proyectos {
    display: none !important;
  }
}
@media only screen and (max-width: 480px) {
  .page-link-img-inner img {
    width: 100%;
    height: 100%;
  }

  .page-link-img {
    right: 52px;
  }

  .page-link-img-inner {
    width: 295px;
  }

  .footer .header-contacto {
    flex-direction: column;
  }

  .founders {
    height: auto;
    flex-direction: column;
  }

  .founders-ceo-avatar {
    width: 35%;
    height: 165px;
  }

  .founders-div:first-child {
    margin-bottom: 25px;
    border-bottom: 1px solid #ccc;
  }

  .founders-div {
    padding-bottom: 25px;
  }

  .footer .header-contacto .contact {
    border: none;
    margin: 0px;
    margin-left: 0px;
  }

  .blog-div {
    left: 40px;
  }

  .hero-text {
    width: 66%;
    padding-top: 259px;
    padding-left: 64px;
  }

  .page-link-txt::after {
    left: 51px;
    bottom: 15px;
  }

  .page-link-txt {
    left: 55px;
  }

  .hamburger {
    left: 14px;
    top: 11px;
    width: 30px;
  }

  .blog {
    flex-flow: column wrap;
  }

  .blog-div-div h2 {
    padding-right: 0px;
  }

  .blog-div {
    left: 0px;
    width: 80%;
    margin: 0px auto;
  }

  .blog-img {
    width: 100%;
    height: 500px;
  }

  .blog-div-div::after {
    display: none;
  }

  .footer .header-contacto .contact #contact-text {
    padding-left: 69px;
    padding-right: 69px;
  }

  .page-link-img-inner {
    width: 250px;
  }

  .page-link-img {
    right: 67px;
  }

  .hero-title-responsive {
    font-size: calc(1rem + .6vw) !important;
  }

  .hero-text-responsive {
    font-size: calc(0.8rem + .6vw) !important;
  }

  .fondo-oscuro {
    width: 100% !important;
    top: 37% !important;
  }

  .page-link-img {
    right: 166px;
  }

  .page-link-txt {
    left: 60px;
  }

  .page-link-img-inner {
    width: 313px;
  }

  .hero-text {
    width: 100%;
    padding-top: 259px;
    padding-left: 64px;
  }

  .header-nav {
    height: 50px !important;
  }

  .logo {
    display: none;
    width: 80px !important;
    height: 80px !important;
  }

  .page-link-img-inner img {
    width: 93%;
  }

  .page-link-a:hover .page-link-txt {
    height: 510px;
    transform: skew(-3deg) translateY(25px);
  }

  .fondo-oscuro-gallery {
    top: 48% !important;
  }
  .fondo-oscuro-gallery p {
    font-size: 0.9rem !important;
  }

  .servicios .servicios-title {
    padding-left: 45px;
  }
}
@media only screen and (max-width: 480px) {
  .fondo-oscuro {
    top: 34% !important;
  }

  .w-sm-75 {
    width: 75% !important;
  }

  .w-sm-100 {
    width: 100% !important;
  }

  .w-sm-50 {
    width: 50% !important;
  }

  .w-sm-25 {
    width: 25% !important;
  }
}
@media only screen and (max-width: 400px) {
  .page-link-img-inner {
    width: 261px;
  }
}
.text-icon-menu {
  text-align: start;
}

.img-icon-menu {
  width: 30%;
}

/* SHOP */
.product-title {
  color: #606060;
}

.product-text {
  color: #303030;
  font-size: bold;
}

.product-link {
  overflow: hidden;
  margin: 0px auto;
  min-width: 300px;
  width: 100%;
  height: 78%;
  background-color: #ffffff;
  background-image: linear-gradient(0deg, #ffffff 0%, #dadada 100%);
  display: flex !important;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
@media (min-width: 1420px) {
  .product-link:hover .agregar {
    display: block !important;
  }
}
.product-link img {
  width: 230px;
  height: 230px;
  box-shadow: 0px 0.5px 1rem #ccc;
}
.product-link .agregar {
  top: 96% !important;
  left: 50% !important;
  background-color: rgba(26, 25, 25, 0.7);
  border-bottom: 18.5px solid #333232;
  transition: all 300ms;
}
.product-link .agregar p {
  color: white;
  font-weight: 600;
  letter-spacing: 0.7px;
}

/*  HEADER OVERRIDE */
.header {
  height: 100vh;
  width: 100%;
  min-width: 100%;
}
.header .header-nav {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  z-index: 100;
}
@media (max-width: 1250px) {
  .header .header-nav {
    height: 50px !important;
  }
}
.header .header-nav .flex-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  right: 0;
  position: absolute;
  height: 100%;
}
.header .header-nav .flex-nav .menu {
  height: 100%;
}
.header .header-nav .flex-nav ul li a {
  font: 700 1rem "Roboto", sans-serif;
  letter-spacing: 1px;
  transition: all 420ms;
}
.header .header-nav .flex-nav ul li a:hover {
  color: #ccc;
}
.header .header-nav .flex-nav .logo {
  position: relative;
  width: 90px;
  height: 90px;
  align-self: CENTER;
  top: 1px;
}
@media (max-width: 1250px) {
  .header .header-nav .flex-nav .logo {
    display: none !important;
  }
}

.mercadoPago:hover {
  box-shadow: inset 0px 0px 5px black;
}
.mercadoPago img {
  height: 95% !important;
  margin-top: 4px !important;
}

.texto-oculto {
  top: 86.5% !important;
  color: rgba(0, 0, 0, 0);
}

.modal-responsive {
  width: 96% !important;
}
@media (max-width: 800px) {
  .modal-responsive a {
    margin-bottom: 6rem !important;
    width: 75% !important;
  }
}
@media (max-width: 800px) {
  .modal-responsive a img {
    width: 95% !important;
  }
}

.menu-final-almedio {
  position: relative;
  top: -11px;
  left: 34px;
  border-top: 1px solid white;
  padding-right: 5rem;
  padding-top: 5px;
  margin-left: 90px;
  margin-bottom: 15px;
}
@media (max-width: 1250px) {
  .menu-final-almedio {
    display: none;
  }
}
.menu-final-almedio .li-verCarrito {
  padding-left: 8px;
}
.menu-final-almedio .li-verCarrito:hover .ver-carrito {
  display: block !important;
}
.menu-final-almedio a {
  cursor: pointer;
}
.menu-final-almedio .carrito-icon {
  width: 1.6rem;
  height: 1.6rem;
}

.ver-carrito {
  width: 90px;
  right: -35px;
  top: 35px;
  text-align: center;
  display: none;
}
.ver-carrito p {
  position: relative;
  top: -4px;
}
.ver-carrito:hover {
  background-color: #ccc !important;
}
.ver-carrito:hover .arrow-up {
  border-bottom: 10px solid #ccc !important;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  position: relative;
  left: 35px;
  top: -9px;
}

.inicio img {
  width: 42px;
  height: 42px;
  position: relative;
  bottom: 5px;
}

.hover-profile {
  display: none;
  background-color: white;
  left: -97px;
  top: 55px;
  width: 230px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.hover-profile .signOutBtn {
  font-weight: 600 !important;
}
.hover-profile .signOutBtn:hover {
  color: #535353 !important;
}
.hover-profile .profile-rounded {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 1px solid #343434;
  z-index: 1;
}
.hover-profile .profile-rounded:hover {
  background-color: #ccc;
}
.hover-profile .user-avatar {
  width: 64px;
  height: 64px;
  z-index: 10;
}

.notification-wrapper {
  width: 400px;
  height: 170px;
  background-color: rgba(52, 52, 52, 0.9);
  left: 15px;
  top: 80vh;
  z-index: 9999999;
  font-size: 1rem;
}
@media (max-width: 500px) {
  .notification-wrapper {
    width: 85%;
    height: 23%;
    left: 8%;
    top: 74vh;
  }
}
@media (min-width: 501px) and (max-width: 1400px) {
  .notification-wrapper {
    top: 70vh;
  }
}
.notification-wrapper .img-wrapper {
  border-radius: 100px;
  border: 1px solid white;
  position: absolute;
  top: -10px;
  left: 15px;
  width: 110px;
  height: 110px;
  overflow: hidden;
}
@media (max-width: 500px) {
  .notification-wrapper .img-wrapper {
    width: 75px;
    height: 75px;
  }
}
.notification-wrapper .img-wrapper img {
  width: 150px;
  height: auto;
}

.carrito-number {
  left: 68px;
  bottom: -4px;
  border-radius: 100px;
  width: 21px;
  height: 20px;
  text-align: center;
}

.color-grisOscuro-flexnav {
  background-color: #615e5e !important;
}

.shopping-bag-mobile {
  display: none;
  width: 32px;
  height: 32px;
  background-color: rgba(3, 3, 3, 0.2);
  z-index: 99;
  top: 110px;
  right: 9px;
  border-radius: 10px;
}
.shopping-bag-mobile .shopping-bag-mobile-link {
  width: 32px;
  height: 32px;
}
.shopping-bag-mobile .shopping-bag-mobile-link i {
  font-size: 24px;
  color: white;
  text-align: center;
  line-height: 31px;
  padding-left: 5px;
}

.cant-agregada-mobile {
  width: 16px;
  height: 16px;
  background-color: #FF7A00;
  border-radius: 200px;
  top: 10px;
  right: 5px;
  z-index: 99999;
  text-align: center;
}
.cant-agregada-mobile p {
  line-height: 15px;
}

@media (max-width: 800px) {
  .content-mobile {
    display: flex;
    justify-content: center !important;
    flex-flow: column wrap !important;
    align-items: center !important;
  }
}

@media (max-width: 800px) {
  .transferencia-mobile {
    margin-right: 0px !important;
  }
}

@media (max-width: 800px) {
  .finalizar-mobile {
    margin-bottom: 12px !important;
  }
}

@media (max-width: 800px) {
  .pasos-title {
    text-align: center !important;
    padding-top: 16px !important;
  }
}

@media (max-width: 800px) {
  .pasos-lista {
    padding: 10px !important;
  }
}

@media (max-width: 800px) {
  .input-comprobante {
    padding: 10px !important;
  }
}

.btn-finalizar-pago {
  display: none;
  background-color: #FF7A00;
  border: 1px solid #FF7A00;
  width: 100%;
  margin: 0px auto;
}
@media (max-width: 800px) {
  .btn-finalizar-pago {
    padding: 10px !important;
    display: block !important;
  }
}

.btn-finalizar-pago-desktop {
  background-color: #FF7A00;
  padding: 10px !important;
  border: 1px solid #FF7A00;
  width: 100%;
  margin: 0px auto;
}
@media (max-width: 800px) {
  .btn-finalizar-pago-desktop {
    display: none;
  }
}

.item-wrapper {
  width: 100%;
  height: 333px;
  margin-bottom: 1.2rem;
}

.item-info-shop {
  background-color: #fff;
  border-top: 1px solid #ccc;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
}

.col-desktop {
  display: none;
}
@media (min-width: 1000px) {
  .col-desktop {
    display: block;
  }
}

.col-mobile {
  display: none;
}
@media (max-width: 1000px) {
  .col-mobile {
    display: block;
  }
}

/*# sourceMappingURL=shop.css.map */
