.header
{
    height: 150px;
}
.carrito-wrapper
{
    height: 80vh;
    box-shadow: 0px 0px 5px #ccc;

    .top-carrito
    {
        border-bottom: 3px solid rgb(143, 142, 142);
        height: 11%;
    }
    .items-carrito-wrapper
    {
        .items-carrito-list
        {
            padding:0px !important;
            list-style: none;

            .item-carrito
            {
                border-bottom: 1px solid #ccc;

                .carrito-vacio
                {
                    color: rgb(97, 97, 97);
                    height: 600px;

                    img 
                    {
                        width: 150px;
                        height: 150px;
                        position: absolute;
                        top: 650px;                    
                    }
                }

                .item-info
                {
                    width: 25%;
                }
               
                .quantity-wrapper
                {
                    border: 1px solid #ccc;
                    height: 80px;
                    width: 15%;
                    .input-quantity
                    {
                        border: none;
                    }
                    .add-quantity
                    {
                        color: rgb(23, 5, 124);
                    }
                    .minus-quantity
                    {
                        color: rgb(23, 5, 124);
                    }
                    .add-quantity-disabled
                    {
                        color: rgb(66, 66, 66);
                    }
                    .minus-quantity-disabled
                    {
                        color: rgb(66, 66, 66);
                    }
                }
                .img-wrapper
                {
                    display: block; 
                    width: 10%;

                    img 
                    {
                        border-radius: 100px;
                        width: 82px;
                        height: 82px;
                    }
                }
                .price-wrapper
                {
                    width: 25%;
                    strong
                    {
                        color: green;
                        display: inline-block;
                    }
                    .precio-sin-descuento
                    {
                        display: inline-block;
                        text-decoration:  line-through;
                    }
                }
            }
        }
    }
}
.img-tilde
{
    width: 150px;
    height: 150px;
}