$azul-cielo: #00A6FA;
$delete: #bb7373;

body 
{
    font-family: 'Roboto','sans serif';
}

.icon-edit
{
   color: $azul-cielo;
   transition: all 420ms;
   &:hover
   {
       color: #016ba0;
   }
}
.icon-delete
{
    transition: all 420ms;
   &:hover
   {
       color: $delete !important;
   }
}
.icon-view
{
    transition: all 420ms;
   &:hover
   {
       color: black !important;
   }
}
.aniadir
{
    right: 0px;
    top: -40px;
}
.dropdown-menu
{
    display: none !important; 
    height: 43px;
    top: 65px;
    text-align: center;
    padding-top: 12px !important;
    &:focus .dropdown-menu
    {
        display: block !important; 
    }  

}
.navbar-nav
{
    &:hover .dropdown-menu
    {
        display: block !important; 
        cursor: pointer;
    }  
}
@keyframes spin {
    
     0%
     {
        transform: rotate(0deg);
     }
     25%
     {
        transform: rotate(90deg);
     }
     50%
     {
        transform: rotate(180deg);
     }
     75%
     {
        transform: rotate(270deg);
     }
     100%
     {
        transform: rotate(360deg);
     }
     
}
.preloader-vistaprevia
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .preloader-body-vistaprevia
    {
        animation: spin 1.5s linear 0s infinite;
        width: 64px;
        height: 64px;
    }
}
.mini-menu-tienda
{
    height: 90px !important;
    min-height: 90px !important;
    .selected
    {
        border-top: 2px solid #0183C1;
        transition:  all 200ms;

        &:hover
        {
            box-shadow: 0px 3px 1px #ccc inset;

        }
    }
}